@model DateCalculator.Models.DateViewModel

@{
    ViewBag.Title = "Date calculator";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="border-bottom">
            <h3>Calculate duration between two dates</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label class="h4">Start Date</label>
                </div>
                <div class="datetextbox">
                    <div>
                        <label style="padding-left:5px; padding-right: 20px;">Date:</label>
                        <label style="padding-left:5px; padding-right: 20px;">Month:</label>
                        <label style="padding-left:5px; padding-right: 20px;">Year:</label>
                        <label>Date:</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstDate, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "dd",
                                id = "firstdate",
                                style = "width:45px",
                                pattern = "[0-9]*",
                                maxlength = "2",
                                required = "required"
                            })
                            <span class="dash">/</span>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstMonth, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "mm",
                                id = "firstmonth",
                                style = "width:50px",
                                pattern = "[0-9]*",
                                maxlength = "2",
                                required = "required"

                            })
                            <span class="dash">/</span>
                        </div>
                        <div class="form-group input-group date">
                            @Html.TextBoxFor(m => m.FirstYear, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "yyyy",
                                id = "firstyear",
                                style = "width:60px",
                                pattern = "[0-9]*",
                                maxlength = "4",
                                required = "required"

                            })

                            <input type="text" id="firstdatepicker" style="width: 0px; height: 0px; visibility: hidden">
                        </div>
                        <div class="form-group">
                            <h4>
                                &nbsp;&nbsp;<a style="cursor: pointer" onclick="return filltextbox('start');">Today</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label class="h4">End Date</label>
                </div>
                <div class="datetextbox">
                    <div>
                        <label style="padding-left:5px; padding-right: 20px;">Date:</label>
                        <label style="padding-left:5px; padding-right: 20px;">Month:</label>
                        <label style="padding-left:5px; padding-right: 20px;">Year:</label>
                        <label>Date:</label>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.SecondDate, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "dd",
                                id = "seconddate",
                                style = "width:45px",
                                pattern = "[0-9]*",
                                maxlength = "2",
                                required = "required"
                            })
                            <span class="dash">/</span>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.SecondMonth, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "mm",
                                id = "secondmonth",
                                style = "width:50px",
                                pattern = "[0-9]*",
                                maxlength = "2",
                                required = "required"
                            })
                            <span class="dash">/</span>
                        </div>
                        <div class="form-group input-group date">
                            @Html.TextBoxFor(m => m.SecondYear, "", new
                            {
                                @class = "form-control",
                                type = "text",
                                placeholder = "yyyy",
                                id = "secondyear",
                                style = "width:60px",
                                pattern = "[0-9]*",
                                maxlength = "4",
                                required = "required"
                            })

                            <input type="text" id="seconddatepicker" style="width: 0px; height: 0px; visibility: hidden">
                        </div>
                        <div class="form-group">
                            <h4>
                                &nbsp;&nbsp;<a style="cursor: pointer" onclick="return filltextbox('end');">Today</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-8">
                <div class="datetextbox">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.IncludeEndDate)
                            Include end date in duration (1 day is added)
                        </label>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-8">
                <div class="datetextbox">
                    <input type="submit" class="btn btn-primary" value="Calculate duration" />
                </div>
            </div>
        </div>

        <br />

        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">&times;</a>
                @Html.ValidationSummary()
            </div>
        }

        @if (Model.HasResult)
        {
            <div class="datetextbox">
                <div class="container-fluid bg-success resultpanel">
                    <div class="col-md-6" style="padding-left: 30px">
                        <div>
                            <h3><strong>Duration: @Model.LongDurations</strong></h3>
                        </div>
                        <br />

                        <div>
                            <h5>
                                From: <strong> @Model.StartDate.ToString("dddd, dd-MMMM-yyyy")</strong>
                            </h5>
                        </div>
                        <div>
                            <h5>
                                To: <strong> @Model.EndDate.ToString("dddd, dd-MMMM-yyyy")</strong>
                                @if (Model.IncludeEndDate)
                                {
                                    <text> <span style="color: #488A01">, end date included</span> </text>}
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 30px">
                        <h4> <b> @Model.Days.ToString("#,##0")  day(s) </b> can be converted into:</h4>
                        <ul>
                            <li><b>@Model.Hours.ToString("#,##0")</b> Hour(s)</li>
                            <li><b>@Model.Minutes.ToString("#,##0")</b> Minute(s)</li>
                            <li><b>@Model.Seconds.ToString("#,##0")</b> Second(s)</li>
                            <li><b>@Model.Weeks</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}